p, h1, h2, h3, h4, h5, h6, button, li, form, span {
	font-family: Hudsons;
}

#menu h3 {
	color: #343a40;
	font-family: Hudsons-bold;
}

.jumbotron p{
	font-size: 20px;
}

.jumbotron, .navbar {
	background-color: #BA2334
}

  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #BA2334 !important;
}

.row h1{
	text-align: center;
	color: #343a40;
}

#menu {
	padding: 0px 10%;
}

#menu-left {
	padding-right: 3%
}

#menu-right {
	padding-left: 3%
}

.menu-price {
	text-align: right;
	font-family: Hudsons-light !important;
	font-size: 18px;
}

.menu-items {
	padding: 0px;
	color: #343a40;
	font-family: Hudsons;
}

.col-sm-7, .col-sm-5 {
	padding: 0px;
}

.col-sm-12 {
	padding: 0px;
}

@font-face {
    font-family: 'Hudsons'; /*a name to be used later*/
    src: url(../fonts/roboto-slab/RobotoSlab-Regular.ttf); /*URL to font*/
}

@font-face {
    font-family: 'Hudsons-light'; /*a name to be used later*/
    src: url(../fonts/roboto-slab/RobotoSlab-Light.ttf); /*URL to font*/
}

@font-face {
    font-family: 'Hudsons-bold'; /*a name to be used later*/
    src: url(../fonts/roboto-slab/RobotoSlab-Bold.ttf); /*URL to font*/
}

@font-face {
    font-family: 'Hudsons-thin'; /*a name to be used later*/
    src: url(../fonts/roboto-slab/RobotoSlab-Thin.ttf); /*URL to font*/
}

/* Rotates the photo to the right position */
/*#aboutphoto {
	width: 300px;
	-webkit-transform: rotate(90deg); 
	-moz-transform: rotate(90deg); 
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	padding-top: 20%;
}*/
