p, h1, h2, h3, h4, h5, h6, button, li, form, span, a {
	font-family: "Roboto Slab", serif;
}

#menu h3 {
	color: #343a40;
	font-family: "Roboto Slab", serif;
	font-weight: 700;
}

.jumbotron p{
	font-size: 20px;
}

.jumbotron, .navbar {
	background-color: #BA2334
}

  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #BA2334 !important;
}

.row h1{
	text-align: center;
	color: #343a40;
}

#about-pic {
	border: medium 
}

#menu {
	padding: 0px 10%;
}

#menu-left {
	padding-right: 3%
}

#menu-right {
	padding-left: 3%
}

#dessert {
	font-family: "Roboto Slab", serif;
	font-weight: 300;
	font-size: 14px;
	margin-top: -15px;
}

.menu-price {
	text-align: right;
	font-family: "Roboto Slab", serif !important;
	font-weight: 300 !important;
	font-size: 18px;
	margin-top: 25px;
}

.menu-items {
	padding: 0px;
	color: #343a40;
	font-family: "Roboto Slab", serif;
}

.col-sm-7, .col-sm-5 {
	padding: 0px;
}

.col-sm-12 {
	padding: 0px;
}

.gallery {
	width: 100%;
	margin: -30px
}

/* Rotates the photo to the right position */
#aboutphoto {
	-webkit-transform: rotate(90deg); 
	-moz-transform: rotate(90deg); 
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
}
